* {
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
    background: url(../images/abcd.jpg) no-repeat;
}

.a {
    width: 108px;
    height: 110px;
    background-position: 0 -9px;

}

.l {
    width: 102px;
    height: 114px;
    background-position: 0px -274px;
}


.e {
    width: 110px;
    height: 110px;
    background-position: -482px -9px;
}

.n {
    width: 113px;
    height: 114px;
    background-position: -254px -272px;
}